* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-family: "Inter", sans-serif;
}
.container {
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: inline-flex;
    align-items: center;
    padding: 15px 16px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #5f62e2;
    background-color: rgba(95, 98, 226, 0.15);
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.arrow__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

/*Header*/
.header-wrapper {
    border-bottom: 2px solid;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1504px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 22px;
}
.header__logo {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.header-nav__item {
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-right: 29px;
}
.header-nav__item:nth-child(4) {
    margin-right: 34px;
}
.button--header {
    padding: 11px 12px;
    color: #2ab691;
    background-color: rgba(42, 182, 145, 0.1);
}
.button--header:hover {
    background-color: #298e73;
    color: #9ef4dd;
}
/*Main*/
.main-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 102px;
    padding-bottom: 160px;
}
.main-banner__content {
    flex-basis: 642px;
    margin-right: 18px;
}
.main-banner__title {
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 87px;
    letter-spacing: -4.5px;
    color: #000000;
}
.main-banner__subscription {
    max-width: 448px;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.8px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 44px;
}
.main-banner--button:first-child {
    margin-right: 11px;
}
.main-banner--button:hover {
    background-color: #5f62e2;
    color: #ffffff;
}
.main-banner__img {
    display: flex;
    align-content: center;
}

/*Offers*/
.offers-wrapper {
    background-color: rgba(204, 201, 201, 0.5);
}

.offers-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 136px 0;
}
.offers-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.offers-column {
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
}
.offers-image {
    padding: 32px 85px 23px;
}
.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.offers__column-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #000000;
    margin-bottom: 10px;
}
.offers__column-subscription {
    text-align: center;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.7px;
    color: rgba(0, 0, 0, 0.5);
}
.offers-info {
    flex-basis: 463px;
    margin-left: 110px;
}
.offers__title {
    font-weight: 500;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -2.5px;
    color: #000000;
    margin-bottom: 16px;
}
.offers-subscription {
    font-weight: normal;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.8px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 29px;
}
.button-offers {
    margin-bottom: 100px;
}
.button-offers:hover {
    background: #5f62e2;
    color: white;
}
.button-offers:hover .arrow__icon path {
    stroke: #ffffff;
}

.offers__social-title {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.8px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 21px;
}

.offers__social-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #c4c4c4;
    border-radius: 50%;
    margin-right: 13px;
}
.offers__social-item:last-child {
    margin-right: 0px;
}
.offers__social-item img {
    opacity: 0.4;
}
.offers__social-item:hover {
    background-color: #d0cecebf;
}
/*Slider*/
.slider-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 94px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 69px;
}
.slider-subscription {
    flex-basis: 463px;
}
.slider-logo {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.logo-img {
    margin-right: 15px;
}

.slider-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -2.5px;
    color: #000000;
    margin-bottom: 26px;
}
.quote {
    font-weight: 500;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -2.5px;
    color: #2ab691;
}
.slider-text {
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.8px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 51px;
}
.slider__btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 1);
    border: none;
    background-image: url(/img/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.slider__btn-circle:hover {
    background-color: #d0cecebf;
}
.slider__btn-circle:last-child {
    background-image: url(/img/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
}

.slider-img {
    max-width: 100%;
}
.logo-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 130px;
}

/*Video*/
.video-wrapper {
    background-color: rgba(204, 201, 201, 0.5);
}

.video-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -2.5px;
    color: #000000;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 54px;
}
.video-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 104px;
}
/*Advantages*/

.advantages {
    padding-top: 87px;
    padding-bottom: 166px;
}
.advantages-content {
    display: flex;
    justify-content: center;
    margin-bottom: 126px;
}
.advantages-content:nth-child(2) {
    margin-bottom: 0;
}
.advantages__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 150px;
}
.advantages__img:nth-child(2) {
    margin-right: 0;
    margin-left: 38px;
}
.advantages__subscription {
    flex-basis: 463px;
    margin-bottom: 30px;
}
.advantages__subscription-item {
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.8px;
    color: #000000;
    margin-bottom: 9px;
}
.advantages__subscription-item::before {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    content: url(/img/check.svg);
    color: rgba(42, 182, 145, 1);
    margin-right: 10px;
}

.advantages__title {
    font-weight: 500;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -2.5px;
    color: #000000;
    margin-bottom: 24px;
}

.button__advantages {
    margin-top: 30px;
}

.button__advantages:hover {
    background: #5f62e2;
    color: white;
}
.button__advantages:hover .arrow__icon path {
    stroke: #ffffff;
}

/*Presentation*/
.presentation__wrapper {
    background-color: rgba(95, 98, 226, 1);
    background-image: url(/img/bomb.svg);
    background-repeat: no-repeat;
    background-position: bottom 0px right 30%;
}
.presentation {
    padding-top: 65px;
    padding-bottom: 76px;
}

.presentation__title {
    max-width: 743px;
    font-weight: 500;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -2.5px;
    color: #ffffff;
    margin-bottom: 40px;
}
.presentation__img {
    position: relative;
    left: 50%;
}
.button__presentation {
    background-color: rgba(255, 255, 255, 0.15);
    color: #ffffff;
}
.button__presentation:first-child {
    margin-right: 10px;
}
.button__presentation:hover {
    background-color: #2ab691;
}

/*Blog*/

.blog__wrapper {
    padding-top: 126px;
    padding-bottom: 117px;
}

.blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog-description {
    display: inline-block;
    max-width: 609px;
    margin-bottom: 47px;
}

.blog-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -2.5px;
    color: #000000;
    margin-bottom: 16px;
}
.blog-info {
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.8px;
    color: rgba(0, 0, 0, 0.5);
}
.button__blog {
    z-index: 100;
}
.button__blog:hover {
    background-color: #5f62e2;
    color: #ffffff;
    transition: 0.3s;
}
.button__blog:hover .arrow__icon path {
    stroke: #ffffff;
}
.blog__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card {
    margin-right: 30px;
}
.card:last-child {
    margin-right: 0;
}
.card__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 410px;
    height: 275px;
    background-color: #f7f7fa;
    margin-bottom: 21px;
}

.card__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.8px;
    color: #000000;
    margin-bottom: 13px;
}
.card__subscription {
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -0.7px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 19px;
}
.card-tag {
    color: #2ab691;
    background-color: rgba(42, 182, 145, 0.11);
    border: none;
    padding: 10px;
    border-radius: 10%;
}
/*Footer*/
.footer-wrapper {
    background-color: #000000;
    padding-top: 77px;
    padding-bottom: 56px;
}

.footer__logo {
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.footer__columns {
    display: flex;
    justify-content: right;
    margin-bottom: 56px;
}
.footer__column {
    margin-right: 80px;
}
.footer__column:last-child {
    margin-right: 0;
    padding-right: 40px;
}
.footer__column-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
}
.footer__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.9;
    text-decoration: none;
}
.footer__link:hover {
    color: rgb(214, 210, 210);
}
.footer__list-item {
    margin-bottom: 22px;
}
.footer__list-item:last-child {
    margin-bottom: 0;
}
.footer__end {
    display: flex;
    justify-content: space-between;
}

.footer__line {
    margin: 20px 0;
    border-top: 1px solid #c4c4c4;
    margin-bottom: 34px;
}
.footer__copyright {
    color: #ffffff;
    opacity: 0.9;
}

.footer__social-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(36, 36, 36);
    border-radius: 50%;
    margin-right: 13px;
}
.footer__social-item :last-child {
    margin-left: 0;
}
.footer__social-item:hover {
    background-color: #5c5a5a;
}
